.content[data-type="Code"] {
    /* TAB only
    padding-top: 33px;
    padding-bottom: 22px;*/

    .gutter-event {
    	width: 10px;
    }

    .gutter-evt {
	    cursor: pointer;

    	i {
	    	color: rgb(83,127,126);
	    	transition: all ease-in-out 0.2s;
	    }
	    &:hover i {
    		color: lighten(rgb(83,127,126), 40%);
    	}
    }

	.CodeMirror {
		font-size: 16px;
		height: 100%;
	}
	.editor-content {
		width: 100%;
		height: 100%;
	}

	.cm-matchhighlight {
		background-color: rgba(178, 255, 89, 0.5);
	    color: black !important;
	    outline: 1px solid rgba(178, 255, 89, 0.5);
	}
	.CodeMirror-selection-highlight-scrollbar {
		background-color: rgba(76,175,80,1);
	}

	.cm-blanke-instance {
		color: #80CBC4;
	}

	.cm-blanke-class {
		color: #4fc3f7;
	}

	.cm-blanke-self {
		color: #FFB74D;
	}

	.cm-blanke-state, .cm-blanke-entity {
		color: #C3E88D; /* lime green, same as cm-string. use something like #4fc3f7 when resolved */
	}
}
.CodeMirror-hints {
	position: absolute;
	z-index: 30;
	overflow: hidden;
	list-style: none;

	margin: 0;
	padding: 2px;

	-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	border-radius: 2px;
	border: 1px solid black;

	background: rgba(0,0,0,0.6);
	/* font-size: 90%; */
	font-family: monospace;

	max-height: 8em;
	overflow-y: auto;
	line-height: 13px;
	min-width: 250px;

	.CodeMirror-hint {
		position: relative;
		margin: 0;
		padding: 0 4px;
		border-radius: 2px;
		/*white-space: pre;*/
		color: white;
		cursor: pointer;
    	padding-right: 20px;

    	.grayed-out {
    		color: #757575;
    	}

		.arg-info, .prop-info {
			max-height: 0px;
			overflow: hidden;
			margin: 0px;
			padding-left: 20px;
			color: #C5E1A5;
				
			transition: all ease-in-out 0.1s;
    	}

    	.item-type {
		    position: absolute;
		    top: 0px;
		    right: 0px;
		    margin: 0px;
		    margin-right: 3px;
		    color: rgba(255,255,255,0.35);
    	}
	}

	.CodeMirror-hint-active {
		background: #233e2e; /* #558b2f; */
		color: white;

		.arg-info, .prop-info {
			max-height: 300px;
			overflow: hidden;
			margin: 0px;
			padding-left: 20px;
			color: #e6ee9c;
		}
	}
}

.content[data-type="SceneEditor"] {
	overflow: hidden !important;

	canvas { 
		.centered();
	}

	#toggle-scene-sidebar {
		position: absolute;
		top: 0px;
		right: @window-padding;
		margin-top: 8px;
	}

	.sidebar {
	    position: absolute;
	    right: @window-padding;
	    top: 0px;
	    pointer-events: none;
	    background-color: rgba(207,216,220 ,0.25);
	    transition: all ease-in-out 0.2s;
	    margin-top: 38px;
	    z-index: 5;

	    &.hidden {
	    	right: -100%;
	    }

	    /*&:hover {*/
	    	width: 150px;  	
	    	box-shadow: @card-shadow;
	    /*}*/

	    p {
    		color: #ECEFF1;
	    }

		button {
			transition: all ease-in-out 0.1s;
    	}

    	select {
		    outline: 2px solid #b0bec5;
		    outline-offset: -2px;
    	}
	    
	    &:not(:hover) {
			/* width: 50px;*/

			select {
			    -webkit-appearance: none;
			}

			.btn-add-object, .btn-add-layer, .actions-container > .add {
	    		opacity: 0;
	    	}

	    	.input-letter, .input-layer {
	    		width: 100%;
	    	}
	    }

	    * {
	    	.no-select();
	    	pointer-events: all;
	   	 	transition: all ease-in-out 0.2s;
	    }

	    > div {
	    	position: relative;
	    	width: 100%;

	    	&:not(:last-child) {
	    		padding-bottom: 15px;
	    	}

	    	&.hidden {
	    		display: none;
	    	}
	    }

	    .select-placetype {
		    border: none;
		    padding: 5px;
		    text-align: center;
    	    background-color: rgba(176,190,197 ,1);
		    width: 100%;
		    height: 30px;

		    transition: none;
		}

		/*&:hover{*/
			.form-container {
				padding: 5px;
			}
		/*}*/

		.list-view-container {
    		white-space: nowrap;
    		padding-bottom: 1px;
    		position: relative;

			.list-title {
				margin: 0px;
			    text-transform: uppercase;
			    height: 20px;
			    line-height: 20px;
			    padding-left: 12px;
			}

			.actions-container {
			    position: absolute;
			    top: 0px;
			    left: 0px;
			    height: 20px;

				button {
				    position: absolute;
				    padding: 0px 2.8px;
				    margin: 0px;
				    border: none;
				    outline: none;
				    width: 15px;
				    height: 15px;
				    top: 2px;
				    left: -7.5px;
				    border-radius: 100%;
				    font-size: 21px;
				    font-weight: 500;
				    background-color: rgba(176,190,197 ,1);
				    transition: all ease-in-out 0.2s;
				    text-align: left;
				    line-height: 14px;

				    &:hover {	
					    background-color: rgba(139,195,74,1);
					    color: white;
				    }

				    i {
				    	font-size: 10px;
				    }
				}
			}

			.items-container {
				color: black;

				&:hover {
					.item {
						/* outline: 1px solid #CFD8DC; */
					}

					.item-text {
						text-align: left;
					}
				}

				.item {
					position: relative;
					height: 18px;
					margin: 0px 1px;
					background-color: transparent;
					outline: 0px dotted rgba(176, 190, 197, 0);

					&:hover {
						background-color: #CFD8DC;
						/* outline: 1px dashed rgb(176, 190, 197); */

						> .item-actions {
							opacity: 1;
						}
					}

					&.selected {
						background-color: #b0bec5;
						outline: 1px solid #b0bec5;
						z-index: 10;
					}

					.item-text {
						.no-select();

						left:0px;
					    height: 100%;
   	 					line-height: 18px;
   	 					padding: 0px 10px;
   	 					box-sizing: border-box;

   	 					width: 100%;
   	 					text-align: left;
					}

					.item-actions {
						right: 0px;
						opacity: 0;

						transition: all ease-in-out 0.1s;

						> button {
							margin: 0px;
						    height: 18px;
						    border-radius: 2px;
						    width: 18px;
						}
					}
				}

				.item > * {
					position: absolute;
				}
			}
		}

		.form-container {
			width: 100%;
   		 	box-sizing: border-box;

			.form-group {
				display: inline-block;
	   		 	width: 100%;

	   		 	&[data-size="2"] {
	   		 		.form-inputs .form-text {
		   		 		width: 40%;

						&[data-index="0"] {
							text-align: right;	
						}
						&[data-index="1"] {
							text-align: left;
						}
	   		 		}
	   		 	}

	   		 	&[data-name="delete"] {
	   		 		button:hover {
	   		 			background-color: rgb(244, 67, 54);
	   		 			color: rgb(250, 250, 250);;
	   		 		}
	   		 	}

	   		 	.form-label {
	   		 		margin: 0px;
				    margin-top: 5px;
				    text-transform: uppercase;
				}

				.form-inputs {
					height: 100%;

					.form-button {
		   		 		border: none;
		   		 		outline: none;
				    	background-color: rgba(255,255,255,0.5);
				    	padding: 4px;
				    	box-sizing: border-box;
				    	width: 100%;
				    	height: 100%;
				    	font-size: 16px;

						margin-top: 5px;
						border-radius: 2px;
						cursor: pointer;
	   		 			transition: all ease-in-out 0.1s;
					}

					.form-text {
		   		 		border: none;
		   		 		outline: none;
				    	background-color: rgba(255,255,255,0.5);
				    	padding: 4px;
				    	box-sizing: border-box;
				    	width: 100%;
				    	height: 100%;
				    	font-size: 16px;

				    	&::-webkit-outer-spin-button,
						&::-webkit-inner-spin-button {
						    /* display: none; <- Crashes Chrome on hover */
						    -webkit-appearance: none;
						    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
						}
					}

					.form-separator {
						margin: 0px;
						width: 20%;
						display: inline-block;
						text-align: center;
					    line-height: 20px;
					    vertical-align: bottom;
					}

					.form-select {
					    border: none;
					    padding: 5px;
					    text-align: center;
					    background-color: rgba(176,190,197 ,1);
					    width: 100%;
					    height: 20px;
					}

					.form-color {
					    width: 100%;
					    padding: 0px;
					    margin: 0px;
					    border: none;
					    outline: none;
					    background-color: transparent;
					}
				}
			}
		}

	    /* OBJECT */
	    .object-container {
		    .input-letter, .select-letter {
			    border: none;
			    padding: 5px;
			    text-align: center;
		    }

		    .input-letter {
		    	background-color: rgba(207,216,220 ,1);
			    position: absolute;
			    width: 100%;
			    font-size: 32px;
			    padding: 4px 5px;
			    box-sizing: border-box;
			}

			&:hover > .input-letter {
				width: calc(~'100% - 18px');
			}

			.select-letter {
	    	    background-color: rgba(176,190,197 ,1);
			    width: 100%;
			    float: right;
    			padding: 2px;

    			&[size="0"] {
    				height: 30px;
    				padding-left: 10px;
    			}

    			option {
    				font-size: 16px;
    			}

			    option:first-child {
			    	display: none;
			    }
			}

			.btn-add-object {
			    position: absolute;
			    padding: 0px 2.8px;
			    margin: 0px;
			    border: none;
			    outline: none;
			    width: 15px;
			    height: 15px;
			    top: 7.5px;
			    left: -7.5px;
			    border-radius: 100%;
			    font-size: 21px;
			    font-weight: 500;
			    background-color: rgba(176,190,197 ,1);
			    transition: all ease-in-out 0.1s;
			    text-align: left;
			    line-height: 14px;
			    z-index: 10;
			    cursor: pointer;

			    &:hover {	
				    background-color: rgba(139,195,74,1);
				    color: white;
			    }
			}

			/*
			.form-group[data-name="name"] {
   		 		position: absolute;
			    left: 0px;
			    top: 0px;
			    height: 30px;

			    .form-text {
			    	font-size: 16px;
				    font-weight: 900;
				    text-align: center;
			   	}
   		 	}

			&:hover .form-group[data-name="name"] {
			    width: calc(~'100% - 18px');
			}*/

			.input-name {
			    width: 100%;
			    padding: 6px;
			    border: 0px;
			    box-sizing: border-box;
			    outline: none;
			    background-color: rgba(255,255,255,0.5);
			    font-size: 16px;
			}

			.color-object {
			    width: 100%;
			    padding: 0px;
			    margin: 0px;
			    border: none;
			    outline: none;
			    background-color: transparent;
			}
		}

		/* LAYER */
		.input-layer, .select-layer {
		    border: none;
		    padding: 5px;
		    text-align: center;
	    }

	    .input-layer {
	    	background-color: #cfd8dc;
		    position: absolute;
		    width: calc(~'100% - 18px');
		    font-size: 13px;
		    height: 30px;
		    padding-top: 0px;
    		padding-bottom: 0px;
    		box-sizing: border-box;
		}

		.select-layer {
    	    background-color: rgba(176,190,197 ,1);
		    width: 100%;
		    height: 30px;
		    float: right;

		    option:first-child {
		    	display: none;
		    }
		}

		.btn-add-layer {
		    position: absolute;
		    padding: 0px;
		    margin: 0px;
		    border: none;
		    outline: none;
		    width: 15px;
		    height: 15px;
		    top: 7.5px;
		    left: -7.5px;
		    border-radius: 100%;
		    font-size: 21px;
		    font-weight: 500;
		    background-color: rgba(176,190,197 ,1);
		    padding: 0px;
		    transition: all ease-in-out 0.2s;

		    &:hover {	
			    background-color: rgba(139,195,74,1);
			    color: white;
		    }
		}

		.snap-container {
			display: inline-block;
   		 	width: 100%;

   		 	.snap-label {
   		 		margin: 0px;
			    margin-top: 5px;
			    text-transform: uppercase;
   		 	}
			.snap-sep {
				margin: 0px;
				width: 20%;
				display: inline-block;
				text-align: center
   		 	}
   		 	.snap-x, .snap-y {
   		 		width: 40%;
   		 		border: none;
   		 		outline: none;
		    	background-color: rgba(255,255,255,0.5);
		    	padding: 4px;
		    	box-sizing: border-box;

		    	&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
				    /* display: none; <- Crashes Chrome on hover */
				    -webkit-appearance: none;
				    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
				}
   		 	}
   		 	.snap-x {
   		 		text-align: right;
   		 	}
   		 	.snap-y {
   		 		text-align: left;
   		 	}
		}

		/* IMAGE */
		.image-info {
		    font-size: 12px;
		    overflow: hidden;
		    margin: 3px;
		    white-space: nowrap;
		}

		.image-tiles-container {
			display: inline-block;
			width: 100%;
			max-height: 150px;
			overflow: hidden;
			position: relative;

			.image-selection {
				.no-select();
			    position: absolute;
			    outline: red solid 1px;
			    pointer-events: none;
			}

			.image-preview {
				.no-select();
			}

			.image-grid {
			    position: absolute;
			    top: 0px;
			    left: 0px;

			    .cell {
			    	position: absolute;
			    	outline: 1px dashed rgba(100,221,23 ,.5);
			    	padding: 0px;

			    	&.selected {
			    		background-color: rgba(100, 221, 23, 0.3);
			    	}
			    }
			}
		}

		/*&:hover {*/
			.image-tiles-container {
				overflow: auto;
			}
		/*}*/
	}
}

.content[data-type="MapEditor"] {
	overflow: hidden !important;

	canvas { 
		.centered();
	}

	.sidebar {
	    position: absolute;
	    right: @window-padding;
	    top: 0px;
	    pointer-events: none;
	    background-color: rgba(207,216,220 ,0.25);
	    transition: all ease-in-out 0.2s;
	    margin-top: 38px;

	    &:hover {
	    	width: 100px;  	
	    }

	    &:not(:hover) {
			width: 50px;

			.btn-add-object, .btn-add-layer {
	    		opacity: 0;
	    	}

	    	.input-letter, .input-layer {
	    		width: 100%;
	    	}
	    }

	    * {
	    	pointer-events: all;
	   	 	transition: all ease-in-out 0.2s;
	    }

	    .object-container, .layer-container {
	    	position: relative;
	    	width: 100%;
	    	padding-bottom: 15px;
	    }

	    /* OBJECT */
	    .input-letter, .select-letter {
		    border: none;
		    outline: none;
		    padding: 5px;
		    text-align: center;
	    }

	    .input-letter {
	    	background-color: rgba(207,216,220 ,1);
		    position: absolute;
		    width: calc(~'100% - 18px');
		    font-size: 32px;
		    padding: 4px 5px;
		    box-sizing: border-box;
		}

		.select-letter {
    	    background-color: rgba(176,190,197 ,1);
		    width: 100%;
		    height: 30px;
		    float: right;

		    option:first-child {
		    	display: none;
		    }
		}

		.btn-add-object {
		    position: absolute;
		    padding: 1px 3px;
		    margin: 0px;
		    border: none;
		    outline: none;
		    width: 15px;
		    height: 15px;
		    top: 7.5px;
		    left: -7.5px;
		    border-radius: 100%;
		    font-size: 20px;
		    font-weight: 500;
		    background-color: rgba(176,190,197 ,1);
		    transition: all ease-in-out 0.1s;
		    text-align: left;
		    line-height: 15px;
		    z-index: 10;

		    &:hover {	
			    background-color: rgba(139,195,74,1);
			    color: white;
		    }
		}

		.input-name {
		    width: 100%;
		    padding: 6px;
		    border: 0px;
		    box-sizing: border-box;
		    outline: none;
		    background-color: rgba(255,255,255,0.5);
		}

		.color-object {
		    width: 100%;
		    padding: 0px;
		    margin: 0px;
		    border: none;
		    outline: none;
		    background-color: transparent;
		}

		/* LAYER */
		.input-layer, .select-layer {
		    border: none;
		    outline: none;
		    padding: 5px;
		    text-align: center;
	    }

	    .input-layer {
	    	background-color: #cfd8dc;
		    position: absolute;
		    width: calc(~'100% - 18px');
		    font-size: 13px;
		    height: 30px;
		    padding-top: 0px;
    		padding-bottom: 0px;
    		box-sizing: border-box;
		}

		.select-layer {
    	    background-color: rgba(176,190,197 ,1);
		    width: 100%;
		    height: 30px;
		    float: right;

		    option:first-child {
		    	display: none;
		    }
		}

		.btn-add-layer {
		    position: absolute;
		    padding: 0px;
		    margin: 0px;
		    border: none;
		    outline: none;
		    width: 15px;
		    height: 15px;
		    top: 7.5px;
		    left: -7.5px;
		    border-radius: 100%;
		    font-size: 21px;
		    font-weight: 500;
		    background-color: rgba(176,190,197 ,1);
		    padding: 0px;
		    transition: all ease-in-out 0.2s;

		    &:hover {	
			    background-color: rgba(139,195,74,1);
			    color: white;
		    }
		}

		.snap-container {
			display: inline-block;
   		 	width: 100%;

   		 	.snap-label {
   		 		margin: 0px;
			    margin-top: 5px;
			    text-transform: uppercase;
   		 	}
			.snap-sep {
				margin: 0px;
				width: 20%;
				display: inline-block;
				text-align: center
   		 	}
   		 	.snap-x, .snap-y {
   		 		width: 40%;
   		 		border: none;
   		 		outline: none;
		    	background-color: rgba(255,255,255,0.5);
		    	padding: 4px;
		    	box-sizing: border-box;

		    	&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
				    /* display: none; <- Crashes Chrome on hover */
				    -webkit-appearance: none;
				    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
				}
   		 	}
   		 	.snap-x {
   		 		text-align: right;
   		 	}
   		 	.snap-y {
   		 		text-align: left;
   		 	}
		}

		/*
		.image-container {
			transition: all ease-in 0.1s;

			&.hidden {
			    height: 0px;
			    overflow: hidden;
			    padding: 0px;
			}
		}*/
	}
}

.content[data-type="Console"] {
	overflow: hidden;

	.log {
		overflow: auto;
		width: 100%;
		height: 100%;
		background-color: rgba(33,33,33 ,1);

		.line, .error {
			margin: 0px;
		    font-size: 16px;
		    border-bottom: 1px solid rgba(255,255,255,0.1);
		    padding: 2px;
		}

		.line {
			color: white;
		}

		.error {
			color: rgba(239,154,154 ,1);
			white-space: normal;
		}
	}
}

.content[data-type="ImageBrowser"] {

}

.content[data-type="AssetManager"] {
	.editor-content {
		color: rgba(238,238,238 ,1);
   		background-color: rgba(33,33,33 ,1);
   		overflow: hidden;
	}

	.file-list, .file-preview {
	    width: 50%;
	    height: 100%;
	    margin: 0px;
	    float: left;
	    box-sizing: border-box;
		padding: 5px;
		overflow: auto;
	}

	.file-list {
    	box-sizing: border-box;

		.file-row {
			.no-select();
			
			padding: 1px;
			cursor: pointer;
			transition: all ease-in-out 0.1s;

			&:hover, &.selected {
				padding-left: 3px;
				background-color: darken(@ide-green, 50%);
			}

			&.selected {
				border-left: 3px solid @ide-green;
			}
		}
	}

	.file-preview {
		.preview-container {
			padding: 5px;
    		background: url("includes/grid.png");
    		border-radius: 2px;
    		margin-bottom: 5px;
    		overflow: auto;
    		position: relative;

    		img {
    			outline: 2px dashed #9CCC65;
    		}

    		span {
    			color: black;
			    font-size: 16px;
			    position: absolute;
			    bottom: 0px;
			    right: 0px;
			    margin: 2px 4px;
			    background-color: rgba(255,255,255,.7);
			    padding: 1px;
    		}
		}

		.form-container {
			display: inline-block;

			.form-group {
				margin-bottom: 5px;
			}

			.form-label {
			    display: inline-block;
			    margin: 0px;
			    font-size: 14px;
			}

			.form-text {
			    border: none;
			    outline: 1px solid rgba(66,66,66 ,1);
			    background-color: rgba(33,33,33 ,1);
			    color: rgba(224,224,224 ,1);
			    padding: 3px;
			    font-size: 16px;

			    transition: all ease-in-out 0.1s;

			    &:focus {
			    	background-color: rgba(66,66,66 ,1);
			    }
			}
		}
	}
}

.content[data-type="Docview"] {
	.editor-content {
		overflow-x: hidden;
	}
	.doc-container {

	}
	.section {
		background-color: #212121;
		color: #E0E0E0;
		margin: 3px;

		.header {
			.no-select();

			margin: 0;
			padding: 10px;
			color: #E0E0E0;
			background-color: #212121;
			transition: all ease-in-out 0.2s;
			cursor: pointer;

			&:hover{
				color: #212121;
				background-color: #E0E0E0;
			}
		}
		.body {
			white-space: pre;
			overflow: auto;
			transition: all ease-out 0.2s;

			&.hidden {
				height: 0px;
			}
		}
	}
}

.content[data-type="Exporter"] {
	.editor-content {
		box-sizing: border-box;
		background-color: #212121;
		padding: 10px;
	}

	.platforms {
		position: relative;
		padding-top: 3px;
	    border: 1px solid @window-background;
	    border-radius: 2px;

	    .title1 {
    	    color: @search-text-focus;
		    margin: 0px;
		    position: absolute;
		    top: -6px;
		    left: 6px;
		    background-color: #212121;
		    padding: 0px 5px;
	    }
	}

	.platform {
		width: 50px;
		height: 50px;
		padding: 10px;
		margin: 5px;
		display: inline-block;
	    border: 1px dashed @window-background;
		transition: all ease-in-out 0.2s;

		&:hover {
			border: none;
		}

		.icon {
			width: 100%;
			height: 100%;
			pointer-events: none;
		}
	}
}

.content[data-type="SpritesheetPreview"] {
	background: @sub-window-background;

	.editor-content {
		overflow: hidden;
	}

	.form-container {
		padding-left: 3px;
		padding-bottom: 10px;
		height: 100%;
    	overflow: auto;
	}

	.show-prvw {
	    position: absolute;
	    bottom: 20px;
	    left: 50%;
	    margin-left: 12px;
	    padding: 4px 5px;
	    font-size: 16px;
	    text-transform: uppercase;
	    border: none;
	    border-radius: 2px;
	    outline: 1px solid fade(@ide-green, 90%);
	    z-index: 10;
	    transition: all ease-in-out 0.2s;

	    &:hover {
	    	background: @ide-green;
	    	background: fade(@ide-green, 90%);
	    }
	}

	.prvw-container {
		.no-select();
		
		width: 50%;
		display: inline-block;
		vertical-align: top;
		overflow: auto;
    	height: 100%;
    	position: relative;
		background: url("includes/grid.png");

		.image, .frames-container, .prvw {
			transition: all ease-in-out 0.1s;
		}

		&.enable-prvw .image, &.enable-prvw .frames-container {
			filter: blur(5px);
		}
		&:not(.enable-prvw) .prvw { opacity: 0; }

		.prvw {
			position: fixed;
		    margin-top: 23px;
		    top: 2px;
		    margin-left: 2px;
		    pointer-events: none;
		    left: 50%;
		    z-index: 20;
		}

		.frames-container {
		    position: absolute;
		    top: 0px;
		    left: 0px;
		    width: 100%;
		    height: 100%;
		    pointer-events: none;

		    .frame {
		    	outline: 1px solid red;
		    	display: inline-block;
		    	position: absolute;
		    	pointer-events: all;

		    	&.ignore {
		    		outline-style: dashed;
		    		background: rgba(255,0,0,0.5);
		    	}
		    }
		}
	}
}