#workspace {

	.game-window {
		width: 100%;
		height: 100%;

		.game-iframe {
			&.align-center {
				.centered();
			}

			&:not(.align-center) {
				position: absolute;
				margin: 5px;
			}

			border: none;
		}

		.game-controls {
			position: absolute;
			left: 0px;
			bottom: 0px;
			z-index: 1000;

			button {
				color: white;
			}

			.btn-pause {
				&.paused {
					.mdi-pause { display: none; }
				}
				&:not(.paused) {
					.mdi-play { display: none; }
				}
			}

			.btn-resize {
				&.align-center {
					.mdi-arrow-bottom-right { display: none; }
				}
				&:not(.align-center) {
					.mdi-arrow-top-left { display: none; }
				}
			}
		}
	}
}

.content[data-type="Code"] {
	.btn-rename {
		.ui-button-sphere();

		position: absolute;
	    right: 15px;
	    top: 4px;
	    z-index: 100;
    	color: rgba(255,255,255,0.75);

	    .mdi {
	    	font-size: 14px;
	    }
	}

	.code {
		width: 100%;
		height: 100%;
		padding-bottom: 10px;
	}

	.CodeMirror {
		font-size: 12px;
	}

	.CodeMirror-scroll {
		width: 100% !important;
		overflow: auto !important;
		box-sizing: border-box;
		line-height: 14px;
	}
}