@import "../blanke-kit/blanke-ui";
@import "variables";
@import "elements";

@font-face {
	font-family: ProggySquare;
    src: url('includes/ProggySquareSZ.ttf') format('truetype');
}

* {
	font-family: ProggySquare;
	-webkit-font-smoothing: antialiased;
}

html, body {
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
}
html {
	position: absolute;
	left: 0px; right: 0px; top: 0px; bottom: 0px;
}

body {
	width: 16px;
    margin: auto;
    vertical-align: middle;

	width: 100%;
	height: 100%;
	background-color: @window-background;

	position: relative;
    border: 1px solid black;
    border-top: none;
}

body:before { top: 0px; }
body:after { bottom: -3px; }

body:before, body:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, black, rgba(90, 217, 164, .5), black); /* 100, 221, 23 */
    left: 0px;
    right: 0px;
    height: 1px;
    z-index: 1000;
}

*:not(.no-custom-scroll) {
    &::-webkit-scrollbar-thumb {
        background: @sub-window-background !important;
    }
}

.blanke-icon {
    width: 16px;
    margin: auto;
    vertical-align: middle;
}

#window-buttons {
	.no-select();
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1000;

	button {
		.win-nodrag();
		width: 35px;
		height: 30px;
		margin: 2px;
		color: #b0bec5;
		font-size: 15px;
		float: right;
		transition: all ease-in-out 0.1s;

		&#btn-close {
			color: #b71c1c;
		}

		&:hover {
			color: #eeeeee;
			background-color: rgba(0,0,0,0.4);

			&#btn-close {
				color: #f44336;
			}
		}

		.mdi, svg {
			pointer-events: none;
		}
	}
}

.tool-container {
	.no-select();
	.win-nodrag();
	z-index: 1000;
    pointer-events: none;
    display: inline-block;
    vertical-align: middle;

	* {
		pointer-events: all;
	}

	button {
		.ui-button-sphere();
		cursor: pointer;
		position: relative;

		&:hover {
			color: @search-text-focus;
			background-color: rgba(0, 0, 0, 0.5);
		}

		margin: 0px;
		width: 23px;
		height: 23px;
		color: #9E9E9E;

		.blanke-icon {
			opacity: .75;
			pointer-events: none;
			transition: all ease-in-out 0.2s;
		}
		&:hover > .blanke-icon {
			opacity: 1;
		}
	}

	.btn-badge {
		position: absolute;
	    right: 1px;
	    bottom: -5px;
	    margin: 0px;
	    color: rgba(200, 200, 200, 1);
	    line-height: 18px;
	    text-shadow: black 0px 0px 1px, black 0px 0px 2px, black 0px 0px 2px, black 0px 0px 3px, black 0px 0px 3px;
	}
}

#sidebar {
    /* width: 155px; */
    height: 100%;
    display: inline-block;
    float: left;
}

#workspace {
	background-color: transparent;
    overflow: hidden;
    position: absolute;
    margin-bottom: 23px;
    margin-top: 34px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    
    /* z-index: 20; */

	> .content {
		/* outline: 1px solid #212121; */
	}
/*
	canvas {
	    margin: 0;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%);
	}*/
}

#drop-zone {
    pointer-events: none;
    position: absolute;
    top: 34px;
    left: 0px;
    right: 0px;
    bottom: 21px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 20;
    transition: all ease-in-out 0.2s;

    p {
	    .centered();

	    color: @search-text-focus;
	    text-align: center;
	    font-size: 32px;
	    margin: 0px;
    }

	&.active {
		opacity: 1;
	}
}

.drag-container {

	background-color: transparent;
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 4px;
	transition: background-color ease-in-out 0.2s;
	transition: opacity ease-in-out 0.2s;

	* {
	    transition: opacity ease-in-out 0.2s;
	}

	&.invisible {
		opacity: 0;
		pointer-events: none;
	}

	&.focused {
		background-color: @sub-window-background;
	}

	&:hover {
		background-color: @sub-window-background;
	}

	&.collapsed {
		max-height: 24px;

		.asset-list {
			display: none;
		}

		.content {
			display: none;
		}
	}

	.btn-close {
		position: absolute;
		top: 0px; right: 0px;
		width: 18px;
		height: 18px;
		background: transparent;
		color: rgba(255,255,255,0.5);
		outline: none;
		border: none;
		margin: 3px;
	    padding: 0px;
	    font-size: 16px;
	    cursor: pointer;
	    opacity: 0;

	    &:hover {
	    	color: @ide-green;;
	    }
	}

	&:hover > .btn-close {
	    opacity: 1;
	}

	.btn-menu {
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    width: 18px;
	    height: 18px;
	    background: transparent;
		color: rgba(255,255,255,0.5);
	    outline: none;
	    border: none;
	    margin: 3px;
	    padding: 0px 4px;
	    font-size: 16px;
	    cursor: pointer;
	    opacity: 0;
	}

	&:hover > .btn-menu {
	    opacity: 1;
	}

	&.focused > .btn-menu {
		opacity: 1;
	}

	.drag-handle {
		.no-select();

		position: absolute;
		top: 0px; left: 0px; right: 0px;
		height: 17px;
	    margin: 3px;
	    margin-right: 20px;
	    background-color: transparent;
	    color: rgba(200, 200, 200, 1);
	    padding-left: 26px;
	    line-height: 18px;
	    text-shadow: black 0px 0px 1px, black 0px 0px 2px, black 0px 0px 2px, black 0px 0px 3px, black 0px 0px 3px;
	}

	.resize-handle {
		position: absolute;
		right: 0px;
		bottom: 0px;
		width: 20px;
		height: 20px;
		z-index: 1000;
	}

	&.collapsed > .resize-handle {
		display: none;
	}

	.content {
		position: absolute;
	    top: 20px;
	    bottom: 0px;
	    left: 0px;
	    right: 0px;
	    margin: 3px;
	    overflow: auto;
	    outline: 1px solid rgba(255,255,255,0.1);
	    /* opacity: 0.25; */
	}

	&.focused > .content, &:hover > .content {
		opacity: 1;
	}

	.editor-content {
		width: 100%;
		height: 100%;
	}

	.asset-list {
	    position: absolute;
	    top: 23px;
	    left: 3px;
	    bottom: 3px;
	    background-color: rgba(0, 0, 0, 0.5);
	    overflow: auto;
	    z-index: 100;
	    transition: all 0.2s ease-in-out;

		&:not(.open) {
			width: 0px;
		}

		&.open {
		    width: 100px;
		}

		.asset {
		    background-color: transparent;
		    color: white;
		    outline: none;
		    border: none;
		    height: 16px;
		    width: 100%;
    		text-align: left;

		    &:hover {
		    	background-color: rgba(0,0,0,0.7);
		    }
		}
	}
}

.fib-container {
	background-color: transparent;
	position: absolute;
	left: 0px;
	right: 0px;
	border-radius: 4px;
	/* transition: background-color ease-in-out 0.2s;
	transition: opacity ease-in-out 0.2s; */
	transition: all ease-in-out 0.2s;
	will-change: transform;

	* {
	    transition: opacity ease-in-out 0.2s;
	}

	&.invisible {
		opacity: 0;
		display: none;
		pointer-events: none;
	}

	&.no-split {
		-webkit-transform: translate(0%, 0%) !important;

		width: 100% !important;
		height: 100% !important;
		opacity: 1;
		pointer-events: auto;
		background: transparent;

		>.content {
			top: 0px;
			margin: 0px;
		}
	}

	&.focused {
		background-color: @sub-window-background;
	}

	&:hover {
		background-color: @sub-window-background;
	}

	&.collapsed {
		max-height: 24px;

		.asset-list {
			display: none;
		}

		.content {
			display: none;
		}
	}

	.btn-close {
		position: absolute;
		top: 0px; right: 0px;
		width: 18px;
		height: 18px;
		background: transparent;
		color: rgba(255,255,255,0.5);
		outline: none;
		border: none;
		margin: 3px;
	    padding: 0px;
	    font-size: 16px;
	    cursor: pointer;
	    opacity: 0;

	    &:hover {
	    	color: @ide-green;;
	    }
	}

	&:hover > .btn-close {
	    opacity: 1;
	}

	.btn-menu {
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    width: 18px;
	    height: 18px;
	    background: transparent;
		color: rgba(255,255,255,0.5);
	    outline: none;
	    border: none;
	    margin: 3px;
	    padding: 0px 4px;
	    font-size: 16px;
	    cursor: pointer;
	    opacity: 0;
	}

	&:hover > .btn-menu {
	    opacity: 1;
	}

	&.focused > .btn-menu {
		opacity: 1;
	}

	.fib-title {
		.no-select();

		position: absolute;
		top: 0px; left: 0px; right: 0px;
		height: 17px;
	    margin: 3px;
	    margin-right: 20px;
	    background-color: transparent;
	    color: rgba(200, 200, 200, 1);
	    padding-left: 26px;
	    line-height: 18px;
	    text-shadow: black 0px 0px 1px, black 0px 0px 2px, black 0px 0px 2px, black 0px 0px 3px, black 0px 0px 3px;
	}

	.content {
		position: absolute;
	    top: 20px;
	    bottom: 0px;
	    left: 0px;
	    right: 0px;
	    margin: 3px;
	    overflow: auto;
	    /* outline: 1px solid rgba(255,255,255,0.1); */
	    /* opacity: 0.25; */
	}

	&.focused > .content, &:hover > .content {
		opacity: 1;
	}

	.editor-content {
		width: 100%;
		height: 100%;
	}
}

#workspace > .content {
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;

    &.hidden {
    	display: none;
    }
}

#search-container {
	.win-drag();
	.no-select();
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 34px;
    z-index: 100;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),radial-gradient(ellipse at top, rgba(100, 221, 23, .25) 1%, transparent 40%); */

    * {
		.win-nodrag();
		transition: all ease-in-out 0.2s;
    }

    &.no-project {
    	* {
			.win-drag();
    		opacity: 0;
    		pointer-events: none;
    	}
    }

    #search-input {
	    height: 100%;
	    padding: 0px 15px;
	    margin: 0px;
	    border: none;
	    outline: none;
	    transition: all ease-in-out 0.2s;
	    background: rgba(0,0,0,0);
	    color: black; /* @search-text-focus; */
	    width: 125px;
	    font-size: 16px;

	    &:focus, &:hover {
	    	color: white;
	    	background: rgba(0, 0, 0, 0.5);

	    	&::placeholder {
	    		color: white;
	    	}
	    }
    }

    #search-results {    	
    	position: absolute;
    	top: 100%;

    	.result {
    		cursor: default;
    		padding: 2px 15px;
    		transition: all ease-in-out 0.2s;

    		outline: darken(@window-background, 50%);;
			background-color: darken(@window-background, 50%);
    		color: @search-text-focus;

    		&.focused, &:hover {
				background-color: rgba(250,250,250, 1);
				color: rgba(33,33,33 ,1);
    		}
    	}
    }
}

#welcome {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
	z-index: 200;

	* {
		color: white;
		transition: color 0.2s ease-in-out;
	}

	&.hidden {
		width: 0%;
		height: 0%;
		pointer-events: none;

		* {
			color: rgba(255,255,255,0);
		}
	}

	.left-container {
		display: inline-block;
		border-left: 1px solid rgba(255,255,255,0.25);
		margin-top: 70px;
	    margin-left: 70px;
	}

	.header-buttons {
		.no-select();

		button {
		    font-size: 24px;
		    line-height: 24px;

			&:hover {
				border-left-width: 4px;
				border-left-color: white;
			}
		}
	}

	.header-buttons > button, .file {
		.win-nodrag();

	    cursor: pointer;
	    background-color: transparent;
	    outline: none;
	    border: none;

		border-left: 1px solid rgba(255,255,255,0.25);
		transition: all 0.1s ease-in-out;

	}

	.recent-files {
		margin-top: 20px;

		.file {
			font-size: 16px;
			line-height: 20px;
			width: 100%;
		 	text-align: left;

			&:hover {
				border-left-width: 2px;
				border-left-color: white;
			}
		}
	}

	.title {
		position: absolute;
		left: 0px;
		top: 0px;
		height: 34px;
		line-height: 36px;
		box-sizing: border-box;
	    padding-left: 15px;
	    border: none;
	    outline: none;
	    color: #757575;
	    width: 125px;
	    font-size: 16px;
	}
}

#history {
	.win-nodrag();
	display: inline-block;

	.entry {
		line-height: 22px;
		display: inline-block;
		cursor: pointer;
		position: relative;

		> * {
			display: inline-block;
			vertical-align: middle;
			transition: all 0.2s ease-in-out;
		}

		.entry-title-container {
			padding-left: 12px;
			padding-right: 0px;

			.entry-title {
				.no-select();
				color: #616161;
    			padding: 0px 5px;
			}
		}

		&:hover {
			.entry-title {
				color: @search-text-focus;
				text-decoration: underline;
			}
		}

		i {
			cursor: default;
			margin: 0px 5px;
		}

		.triangle-left, .triangle-right {
			position: absolute;
		    width: 0;
		    height: 0;
		}

		.triangle-left {
		    border-top: 11px solid @window-background;
		    border-bottom: 11px solid @window-background;
		    border-left: 13px solid transparent;
			left: 0px;
			display: none;
		}

		.triangle-right {
		    border-top: 11px solid transparent;
		    border-bottom: 11px solid transparent;
		    border-left: 13px solid @window-background;
			display: none;
		}

		&:first-child {
			i {
				display: none;
			}
		}

		&:nth-last-child(1) {
			.entry-title {
				color: @search-text-focus;
				background-color: @window-background;
			}

			.triangle-right, .triangle-left {
				display: inline-block;
			}
		}
	}
}

#status-bar {
	position: absolute;
    bottom: 0px;
    height: 23px;
    left: 1px;
    right: 0px; 
    z-index: 100;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, transparent 100%); /* rgba(0,0,0,0.1); */
}

#status-icons {
	display: inline-block;
    float: right;
    margin-top: 2px;
    padding-right: 4px;

	.server-status {
		position: relative;
		transition: all ease-in-out 0.2s;

		&.active {
			color: rgba(100,221,23 ,1);
		}

		.mdi {
			margin-right: 4px;
		}

		.server-pop {
		    position: absolute;
		    bottom: -3px;
		    left: 12px;
		    margin: 0px;
		    text-align: left;
		}
	}
}

.blankejs-toasts {
    padding-right: 5px;
    padding-bottom: 25px;
    
	.toast-container {
	    background-color: white;
	    border: 1px solid black;
    	box-shadow: 1px 1px 5px 1px black;
    	margin: 8px;

		.content {
		    margin: 0px;
		    border: 2px outset #424242;
		    background-color: #424242;
		    padding: 5px;
		    color: #FAFAFA;

		    a {
		    	color: @ide-green;
		    }
		}
	}
}

.crosshair {
	position: absolute;
	pointer-events: none;
	left: 0px; right: 0px;
	top: 0px; bottom: 0px;
	z-index: 200;

	.x {
		position: absolute;
		top: 0px; bottom: 0px;
		width: 2px;
	}

	.y {
		position: absolute;
		left: 0px; right: 0px;
		height: 2px;
	}

	.x, .y {
		animation-duration: .5s;
		animation-name: crosshair-fade-out;
	}

	
}
@keyframes crosshair-fade-out {
	from {
		background-color: rgba(255,255,255,0.25);
	}
	to {
		background-color: transparent;
	}
}

.form-container {
	width: 50%;
	display: inline-block;
	box-sizing: border-box;

	input {
		outline: 1px solid fade(@ide-green, 0%);
    	outline-offset: 0px;
    	transition: all ease-in-out 0.1s;

    	&:focus {
			outline: 1px solid @ide-green;
	    	outline-offset: 1px;
    	}
	}
	
	.form-group {
		margin-bottom: 5px;
	}

	.form-label {
		margin-top: 4px;
		margin-bottom: 2px;
		.no-select();
	}

	.form-text, .form-select {
		background: rgba(255,255,255,0.3);
		border: none;
		padding: 3px;
		font-size: 16px;
	}

	.form-group[data-size="2"] .form-text, .form-group[data-type="number"] .form-text {
		width: 40px;
	}

	.form-separator {
		display: inline;
		margin: 5px;
	}

	.form-button {
	    margin-top: 6px;
    	border: none;
	    padding: 3px;
	    background: rgba(255,255,255,0.3);
	    outline: 1px solid rgba(0,0,0,0.5);
	    border-radius: 2px;
	    transition: all ease-in-out 0.1s;

	    &:hover {
			outline: 1px solid @ide-green;
	    }
	    &:active {
	    	background: rgba(255,255,255,0.6);
			outline: 1px solid @ide-green;
	    	outline-offset: 1px;
    	}
	}

	.form-group[data-type="checkbox"] {
		border: 1px solid gray;
	    border-radius: 2px;
	    display: inline-block;
	    padding: 5px;
	    cursor: pointer;

		.form-label {
			display: inline-block;
			margin: 0px;
			padding-left: 20px;
		}

		&:hover .form-label {
			color: white;
		}

		.form-inputs {
		    display: inline-block;
			vertical-align: top;

			position: relative;
			cursor: pointer;
			
			.no-select();
			.form-checkbox {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
				width: 0;
			}

			.checkmark {
				position: absolute;
			    left: 1px;
				top: -1px;
				height: 13px;
				width: 13px;
				background-color: rgba(255,255,255,0.3);
			}

			/* unchecked */
			&:hover .form-checkbox ~ .checkmark {
				background-color: @ide-green;
				border-radius: 2px;
    			overflow: hidden;
			}

			/* checked */
			.form-checkbox:checked ~ .checkmark {
				background-color: @ide-green;
			}

			.checkmark:after {
				content: "";
				position: absolute;
				display: none;
			}

			/* show checkmark when checked */
			.form-checkbox:checked ~ .checkmark:after {
				display: block;
			}

			/* Style the checkmark/indicator */
			.checkmark:after {
			    left: 4px;
			    top: 0px;
			    width: 4px;
			    height: 8px;
			    border: solid white;
			    border-width: 0 2px 2px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
	}

	&.dark {
		.form-label {
			color: #9e9e9e;
		}

		input {
			color: white;
			background: rgba(255, 255, 255, 0.3);
		}
	}
}

.ui-modal {
	background: #CFD8DC;

	input {
		outline: 1px solid fade(@ide-green, 0%);
    	outline-offset: 0px;
		background: rgba(255,255,255,0.3);
		border: none;
		padding: 3px;
		font-size: 16px;
    	transition: all ease-in-out 0.1s;

    	&:focus {
			outline: 1px solid @ide-green;
	    	outline-offset: 1px;
    	}
	}
}