@title-bar-height: 34px;
@status-bar-height: 22px;
@window-padding: 5px;
@window-background: #485358; /* rgb(57, 65, 78);*/
@sub-window-background: fade(lighten(@window-background, 30%), 70%);
@ide-green: rgba(90, 217, 164, 1); /* #64DD17; */

@search-text-focus: rgb(240,240,240);
@beveled-bg: rgba(33,33,33 ,1);