.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
}
.win-drag {
  -webkit-app-region: drag;
}
.win-nodrag {
  -webkit-app-region: no-drag;
}
/* parent must be relative */
.centered {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
}
.centered-h {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.centered-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
*:not(.no-custom-scroll)::-webkit-scrollbar-track {
  /* border: 1px solid #BDBDBD; */
  background-color: #E0E0E0;
}
*:not(.no-custom-scroll)::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*:not(.no-custom-scroll)::-webkit-scrollbar * {
  background: transparent;
}
*:not(.no-custom-scroll)::-webkit-scrollbar-thumb {
  background: #757575 !important;
}
*:not(.no-custom-scroll)::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
/*
    HEADER
*/
.ui-header {
  font-weight: 900;
  font-size: 20px;
  margin: 10px 0px;
}
/*
    BUTTONS
*/
/* 4px is practically a random number */
.ui-btn-group {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
.ui-button {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  vertical-align: top;
  transition: all ease-in-out 0.4s;
}
.ui-button:hover {
  background-color: rgba(224, 224, 224, 0.3);
}
.ui-button:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.ui-button .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.ui-button-sphere {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  vertical-align: top;
  transition: all ease-in-out 0.4s;
  height: 26px;
  width: 26px;
  padding: 0px;
}
.ui-button-sphere:hover {
  background-color: rgba(224, 224, 224, 0.3);
}
.ui-button-sphere:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.ui-button-sphere .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.ui-button-sphere:hover {
  border-radius: 100%;
}
.ui-button-rect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  margin: 3px;
  border: none !important;
  background-color: transparent;
  font-size: 14px;
  vertical-align: top;
  padding: 5px 10px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 0px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}
.ui-button-rect:hover {
  background-color: rgba(224, 224, 224, 0.3);
}
.ui-button-rect:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.ui-button-rect .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.ui-button-rect:hover {
  border-radius: 4px;
  background-color: #e0e0e0;
}
.ui-select {
  padding: 3px;
  border-radius: 5px;
  outline: none;
  border-color: black;
  border-width: 2px;
}
.ui-input {
  -webkit-app-region: no-drag;
  border: 20px solid transparent;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, transparent 90%, transparent 100%);
  border-image-slice: 1;
  border-width: 0px;
  padding: 3px;
  border-bottom-width: 1px;
  outline: none;
  margin-left: 10px;
  width: 60px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}
.ui-checkbox {
  -webkit-app-region: no-drag;
  width: 26px;
  height: 26px;
  margin: 3px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.ui-checkbox label {
  margin-left: 40px;
  vertical-align: top;
  line-height: 30px;
}
.ui-checkbox input {
  height: 100%;
  width: 100%;
  margin: 0px;
  opacity: 0;
  border-style: solid;
  position: absolute;
  top: 0px;
  left: 0px;
}
.ui-checkbox input + .mdi,
.ui-checkbox input + .mdi-svg {
  width: 26px;
  height: 26px;
  padding: 4px;
  text-align: center;
}
.ui-checkbox input:not(:checked) + .mdi,
.ui-checkbox input:not(:checked) + .mdi-svg {
  border-color: rgba(0, 0, 0, 0.2);
  border-style: dashed;
}
.ui-checkbox input:checked + .mdi,
.ui-checkbox input:checked + .mdi-svg {
  border-color: black;
  border-style: solid;
  background-color: #e0e0e0;
}
.ui-checkbox .mdi,
.ui-checkbox .mdi-svg {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0px;
  width: 26px;
  height: 26px;
  padding: 2px;
  background-color: transparent;
  box-sizing: border-box;
  transition: all ease-in-out 0.2s;
}
.ui-checkbox .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.ui-checkbox:hover .mdi,
.ui-checkbox:hover .mdi-svg {
  background-color: #e0e0e0;
}
.ui-checkbox-label {
  -webkit-app-region: no-drag;
  width: 26px;
  height: 26px;
  margin: 3px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: auto;
}
.ui-checkbox-label label {
  margin-left: 40px;
  vertical-align: top;
  line-height: 30px;
}
.ui-checkbox-label input {
  height: 100%;
  width: 100%;
  margin: 0px;
  opacity: 0;
  border-style: solid;
  position: absolute;
  top: 0px;
  left: 0px;
}
.ui-checkbox-label input + .mdi,
.ui-checkbox-label input + .mdi-svg {
  width: 26px;
  height: 26px;
  padding: 4px;
  text-align: center;
}
.ui-checkbox-label input:not(:checked) + .mdi,
.ui-checkbox-label input:not(:checked) + .mdi-svg {
  border-color: rgba(0, 0, 0, 0.2);
  border-style: dashed;
}
.ui-checkbox-label input:checked + .mdi,
.ui-checkbox-label input:checked + .mdi-svg {
  border-color: black;
  border-style: solid;
  background-color: #e0e0e0;
}
.ui-checkbox-label .mdi,
.ui-checkbox-label .mdi-svg {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0px;
  width: 26px;
  height: 26px;
  padding: 2px;
  background-color: transparent;
  box-sizing: border-box;
  transition: all ease-in-out 0.2s;
}
.ui-checkbox-label .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.ui-checkbox-label:hover .mdi,
.ui-checkbox-label:hover .mdi-svg {
  background-color: #e0e0e0;
}
.ui-file > input {
  margin-left: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  outline: none;
}
.ui-file > label {
  margin-left: 10px;
}
.ui-input-group label {
  margin-right: 20px;
}
.ui-input-group input {
  margin: 5px;
}
.ui-input-group .ui-input {
  margin: 5px;
}
.ui-text > input {
  -webkit-app-region: no-drag;
  border: 20px solid transparent;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, transparent 90%, transparent 100%);
  border-image-slice: 1;
  border-width: 0px;
  padding: 3px;
  border-bottom-width: 1px;
  outline: none;
  width: 60px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  margin-left: 10px;
}
.ui-modal {
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 20;
  right: 0px;
  text-align: center;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px;
}
.ui-modal > .modal-body {
  margin: 10px;
}
.ui-modal button:hover[data-action='yes'] {
  background-color: #4caf50;
  color: white;
}
.ui-modal button:hover[data-action='no'] {
  background-color: #f44336;
  color: white;
}
.ui-color {
  border: none;
  padding: 0px;
  outline: 1px solid black;
  outline-offset: -4px;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  border-radius: 100%;
  background: none;
}
/* Window CSS */
.blanke-window {
  display: none;
  z-index: 100;
  min-width: 100px;
  min-height: 100px;
  position: absolute;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.blanke-window > .title-bar {
  cursor: default;
  background-color: black;
  height: 30px;
  overflow: hidden;
}
.blanke-window > .title-bar > * {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  font-size: 12px;
}
.blanke-window > .title-bar > .title {
  pointer-events: none;
  color: white;
  line-height: 30px;
  padding-left: 2px;
}
.blanke-window > .title-bar > .btn-close {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.blanke-window > .content {
  margin-bottom: 0px;
  overflow: hidden;
  position: absolute;
  top: 30px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
#workspace .game-window {
  width: 100%;
  height: 100%;
}
#workspace .game-window .game-iframe {
  border: none;
}
#workspace .game-window .game-iframe.align-center {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
}
#workspace .game-window .game-iframe:not(.align-center) {
  position: absolute;
  margin: 5px;
}
#workspace .game-window .game-controls {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1000;
}
#workspace .game-window .game-controls button {
  color: white;
}
#workspace .game-window .game-controls .btn-pause.paused .mdi-pause {
  display: none;
}
#workspace .game-window .game-controls .btn-pause:not(.paused) .mdi-play {
  display: none;
}
#workspace .game-window .game-controls .btn-resize.align-center .mdi-arrow-bottom-right {
  display: none;
}
#workspace .game-window .game-controls .btn-resize:not(.align-center) .mdi-arrow-top-left {
  display: none;
}
.content[data-type="Code"] .code {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}
.content[data-type="Code"] .CodeMirror {
  font-size: 12px;
}
.content[data-type="Code"] .CodeMirror-scroll {
  width: 100% !important;
  overflow: auto !important;
  box-sizing: border-box;
  line-height: 14px;
}
.content[data-type="MapEditor"] {
  overflow: hidden !important;
}
@font-face {
  font-family: ProggySquare;
  src: url('includes/ProggySquare.ttf') format('truetype');
}
* {
  font-family: ProggySquare;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
html {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
body {
  -webkit-app-region: drag;
  width: 100%;
  height: 100%;
  background-color: #424242;
  padding: 5px;
  padding-top: 30px;
}
#window-buttons {
  -webkit-app-region: no-drag;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px;
}
#window-buttons button {
  width: 20px;
  height: 20px;
  margin: 2px;
  color: #9E9E9E;
}
#window-buttons button:hover {
  background-color: transparent;
}
#window-buttons button .mdi {
  padding: 3px;
}
#window-buttons #btn-close {
  color: #f44336;
}
.tool-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}
.tool-container button {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  vertical-align: top;
  transition: all ease-in-out 0.4s;
  height: 26px;
  width: 26px;
  padding: 0px;
  margin: 0px;
  width: 23px;
  height: 23px;
  color: white;
}
.tool-container button:hover {
  background-color: rgba(224, 224, 224, 0.3);
}
.tool-container button:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.tool-container button .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.tool-container button:hover {
  border-radius: 100%;
}
.tool-container button:hover {
  background-color: rgba(224, 224, 224, 0.3);
}
#workspace {
  -webkit-app-region: no-drag;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  position: relative;
}
.drag-container {
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 4px;
  transition: background-color ease-in-out 0.2s;
}
.drag-container * {
  transition: opacity ease-in-out 0.2s;
}
.drag-container.focused {
  background-color: rgba(97, 97, 97, 0.7);
}
.drag-container:hover {
  background-color: rgba(97, 97, 97, 0.7);
}
.drag-container.collapsed {
  max-height: 24px;
}
.drag-container.collapsed .asset-list {
  display: none;
}
.drag-container.collapsed .content {
  display: none;
}
.drag-container .btn-close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 18px;
  height: 18px;
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  outline: none;
  border: none;
  margin: 3px;
  padding: 0px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
}
.drag-container .btn-close:hover {
  color: #64DD17;
}
.drag-container:hover > .btn-close {
  opacity: 1;
}
.drag-container .btn-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  outline: none;
  border: none;
  margin: 3px;
  padding: 0px 4px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
}
.drag-container:hover > .btn-menu {
  opacity: 1;
}
.drag-container.focused > .btn-menu {
  opacity: 1;
}
.drag-container .drag-handle {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 17px;
  margin: 3px;
  margin-right: 20px;
  background-color: transparent;
  color: #c8c8c8;
  padding-left: 26px;
  line-height: 18px;
  text-shadow: black 0px 0px 1px, black 0px 0px 2px, black 0px 0px 2px, black 0px 0px 3px, black 0px 0px 3px;
}
.drag-container .resize-handle {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 20px;
  height: 20px;
  z-index: 1000;
}
.drag-container.collapsed > .resize-handle {
  display: none;
}
.drag-container .content {
  position: absolute;
  top: 20px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 3px;
  overflow: auto;
  outline: 1px solid rgba(255, 255, 255, 0.1);
}
.drag-container .editor-content {
  width: 100%;
  height: 100%;
}
.drag-container .asset-list {
  position: absolute;
  top: 23px;
  left: 3px;
  bottom: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 100;
  transition: all 0.2s ease-in-out;
}
.drag-container .asset-list:not(.open) {
  width: 0px;
}
.drag-container .asset-list.open {
  width: 100px;
}
.drag-container .asset-list .asset {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  height: 16px;
  width: 100%;
  text-align: left;
}
.drag-container .asset-list .asset:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
#search-container {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  height: 34px;
  z-index: 100;
}
#search-container #search-input {
  height: 100%;
  padding: 0px 15px;
  margin: 0px;
  border: none;
  outline: none;
  transition: all ease-in-out 0.2s;
  background: rgba(0, 0, 0, 0);
  color: #f0f0f0;
}
#search-container #search-input:focus,
#search-container #search-input:hover {
  background: rgba(0, 0, 0, 0.2);
}
#search-container #search-results {
  position: absolute;
  bottom: 100%;
}
#search-container #search-results .result {
  background-color: rgba(66, 66, 66, 0.8);
  color: #f0f0f0;
  padding: 2px 15px;
  transition: all ease-in-out 0.2s;
}
#search-container #search-results .result.focused,
#search-container #search-results .result:hover {
  background-color: #000000;
}
